.dashboard-wrapper {
  width: 100%;
  min-height: 100vh;
  background: #d3d3d3;
  padding-top: 1rem;
}

.text-primary {
  color: #3f51b5 !important;
}

.panel-header {
    min-height: 70px;
}

.panel-description {
  text-align: end;
  justify-content: flex-end;
  padding-right: 2rem;
}
